<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>詳細ページ</title>
    <link rel="stylesheet" type="text/css" href="../css/destyle.css">
    <link rel="stylesheet" type="text/css" href="../css/auction_detail.css">
</head>
<body>
    <%- include('header') %>
    <main>
        <div id="contents">
            <div>
                <p id="img"><img src="../img/<%= car_info.car_type_img_name %>" alt="車"></p>
            </div>
            <h2>車両情報</h2>
>>>>>>> 8754941ce438122e5d36db6b7f0175bfb784b22c
            <div id="detail">
                <h2>車両情報<span>オークション終了</span></h2>
                <div>
                    <p><span>メーカー：</span><%= car_info.maker_name %></p>
                    <p><span>車種名：</span><%= car_info.car_type_name %></p>
                    <p><span>年式：</span><%= car_info.model_year %></p>
                    <p><span>走行距離：</span><%= car_info.mileage %></p>
                    <p><span>車検有効期限：</span><%= car_info.vehicle_inspection_expiration_date == null ? '有効期限切れ' : car_info.vehicle_inspection_expiration_date %></p>
                </div>
                <div>
                    <p><span>色：</span><%= car_info.color %></p>
                    <p><%= car_info.automatic_or_mission == 0 ? 'ミッション' : 'オートマ' %></p>
                    <p><span>排気量：</span><%= car_info.displacement %></p>
                    <p><span>乗車定員数：</span><%= car_info.number_of_passengers %></p>
                    <p><span>駆動方式：</span><%= car_info.drive_system %></p>
                </div>
                <div id="parts">
                    <p><span>装備品：</span>パーツ<%= car_info.equipment %></p>
                </div>
            </div>
        </div>

        <div id="right">
            <div class="now">
                <h2>現在の落札金額</h2>
                <p id="now_price">￥<%= car_info.now_price %></p>
            </div>
            <div class="now">
                <h2 id="left_time_txt">残り時間</h2>
                <p id="left_time">10分25秒21</p>
            </div>
            <p><input type="number" id="bit_text" required></p>
            <p><button id="bit_button">入札</button></p>
        </div>
    </main>

    <div id="car_id" data-car_id="<%= car_info.car_id %>"></div>
    <div id="from" data-from="<%= car_info.time_from %>"></div>
    <div id="to"   data-to="<%= car_info.time_to %>"></div>

    
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/auction_detail.js"></script>
</body>
</html>