<!DOCTYliE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/destyle.css">
    <link rel="stylesheet" href="../css/detail.css">
    <scrilit src="../js/jquery-3.6.0.min.js"></scrilit>
    <title>車両詳細</title>
</head>
<body>
    <header class="header">
        <h1>HAL中古車販売</h1>
    </header>
    <main>
        <article>
            <section>
                <h2><%= carData[0].car_type_name %></h2>
                <div class="price">
                    <p>価格</p>
                    <p id="price"><%= carData[0].car_id %></p>
                </div>
                <p id="bak"><img src="../img/<%= carData[0].car_type_img_name %>" alt="<%= carData[0].car_type_name %>"></p>
            </section>
            <section id="content">
                <div class="flex">
                    <div>
                        <ul>
                            <li class="detail">
                                <span class="detail_result">ボディータイプ</span>
                                <span class="detail_right"><%= carData[0].body_type %></span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li class="detail">
                                <span class="detail_result">年式</span>
                                <span class="detail_right"><%= carData[0].model_year %>年</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li class="detail">
                                <span class="detail_result">走行距離</span>
                                <span class="detail_right"><%= carData[0].mileage %>km</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li class="detail">
                                <span class="detail_result"></span>実走行</span>
                                <span class="detail_right">
                                    <% if(carData[0].is_actual_driving == 0 ){ %>
                                        可能
                                    <% } else { %>
                                        不可能
                                    <% } %>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li class="detail">
                                <span class="detail_result"></span>色</span>
                                <span class="detail_right"><%= carData[0].color %></span>
                            </li>
                        <ul>
                    </div>
                    <div>
                        <ul>
                            <li class="detail">
                                <span class="detail_result">車検有効期限</span>
                                <span class="detail_right"><%= carData[0].vehicle_inspection_expiration_date %></span>
                            </li>
                        <ul>
                    </div>
                </div>
                <div class="flex">
                    <div>
                        <ul>
                            <li class="detail">
                                <span class="detail_result">オートマ/ミッション</span>
                                <span class="detail_right">
                                <% if(carData[0].automatic_or_mission == 0 ){ %>
                                    ミッション
                                <% } else { %>
                                    オートマ
                                <% } %>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li class="detail">
                                <span class="detail_result">排気量</span>
                                <span class="detail_right"><%= carData[0].displacement %>cc</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li class="detail">
                                <span class="detail_result">乗車人数</span>
                                <span class="detail_right"><%= carData[0].number_of_passengers %>人</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li class="detail">
                                <span class="detail_result">駆動方式</span>
                                <span class="detail_right"><%= carData[0].drive_system %></span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li class="detail">
                                <span class="detail_result"></span>
                                <span class="detailright">1,200,000円</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </article>
    </main>
    <footer class="footer">フッター</footer>
</body>
</html>