<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/destyle.css">
    <link rel="stylesheet" href="../css/detail.css">
    <script src="../js/jquery-3.6.0.min.js"></script>
    <title>車両詳細</title>
</head>
<body>
    <header class="header">
        <h1>HAL中古車販売</h1>
    </header>
    <main>
        <article>
            <section>
                <h2>スズキ　ハスラー</h2>
                <p><img src="../img/hustler.png" alt=""></p>
            </section>
            <section id="flex">
                <div>
                    <p>価格</p>
                    <p id="price"><%= carData[0].car_id %></p>
                </div>
                <div>
                    <p>ボディータイプ</p>
                    <p><%= carData[0].body_type %></p>
                </div>
                <div>
                    <p>年式</p>model_year
                    <p><%= carData[0].model_year %>年</p>
                </div>
                <div>
                    <p>走行距離</p>
                    <p><%= carData[0].mileage %>km</p>
                </div>
                <div>
                    <p>実走行</p>
                    <p><% if(carData[0].is_actual_driving == 0 ){ %>
                        可能
                    <% } else { %>
                        不可能
                    <% } %></p>
                </div>
                <div>
                    <p>色</p>
                    <p><%= color %></p>
                </div>
                <div>
                    <p>車検有効期限</p>
                    <!-- <p></p> -->
                </div>
                <div>
                    <p>オートマ/ミッション</p>
                    <p>
                        <% if(carData[0].automatic_or_mission == 0 ){ %>
                            ミッション
                        <% } else { %>
                            オートマ
                        <% } %>
                    </p>
                </div>
                <div>
                    <p>排気量</p>
                    <p><%= carData[0].displacement %>cc</p>
                </div>
                <div>
                    <p>乗車人数</p>
                    <p><%= carData[0].number_of_passengers %>人</p>
                </div>
                <div>
                    <p>駆動方式</p>
                    <!-- <p></p> -->
                </div>
                <div>
                    <p></p>
                    <!-- <p></p> -->
                </div>
                
            </section>
        </article>
    </main>
    <footer class="footer">フッター</footer>
</body>
</html>