<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>通知</title>
    <link rel="stylesheet" href="../css/destyle.css">
    <link rel="stylesheet" href="../css/inform.css">
</head>
<body>
    <%- include('header') %>
    <main>
        <h2>新着情報</h2>
        <ul id="all_info">
            <% for (column of table) { %>
                <% const date = new Date(column.time); %>
                <li class="list">
                    <a href="#a">
                        <time><%= date.getFullYear() %>/<%= date.getMonth() + 1 %>/<%= date.getDate() %> <%= date.getHours() %>:<%= date.getMinutes() %></time>
                        <p>入札が完了しました。</p>
                    </a>
                </li>
            <% } %>
          </ul>
    </main>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/inform.js"></script>
</body>
</html>