<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登録確認ページ</title>
    <link rel="stylesheet" href="../css/destyle.css">
    <link rel="stylesheet" href="../css/login_check.css">
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form id="form" action="/user_add" method="post">
                <input type="hidden" name="name" value="<%= user_info.name%>">
                <input type="hidden" name="login" value="<%= user_info.login%>">
                <input type="hidden" name="pass" value="<%= user_info.pass%>">
                <input type="hidden" name="tel" value="<%= user_info.tel%>">
                <input type="hidden" name="postal" value="<%= user_info.postal%>">
                <input type="hidden" name="address" value="<%= user_info.address%>">
                <input type="hidden" name="apartment" value="<%= user_info.apartment%>">
                <input type="hidden" name="card" value="<%= user_info.card%>">
                <h1>確認</h1>
                <table>
                    <tr>
                        <td><p>名前</p></td>
                        <td><p><%= user_info.name%></p></td>
                    </tr>
                    <tr>
                        <td><p>ログインID</p></td>
                        <td><p><%= user_info.login%></p></td>
                    </tr>
                    <tr>
                        <td><p>パスワード</p></td>
                        <td><p><%= user_info.pass%></p></td>
                    </tr>
                    <tr>
                        <td><p>電話番号</p></td>
                        <td><p><%= user_info.tel%></p></td>
                    </tr>
                    <tr>
                        <td><p>郵便番号</p></td>
                        <td><p><%= user_info.postal%></p></td>
                    </tr>
                    <tr>
                        <td><p>住所</p></td>
                        <td><p><%= user_info.address%></p></td>
                    </tr>
                    <tr>
                        <td><p>マンション名</p></td>
                        <td><p><%= user_info.apartment%></p></td>
                    </tr>
                    <tr>
                        <td><p>クレジットカード番号</p></td>
                        <td><p><%= user_info.card%></p></td>
                    </tr>
                </table>
                <div id="button">
                    <button>戻る</button>
                    <button>登録</button>
                </div>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <form action="login.html">
                        <h1>ログインページはこちら</h1>
                        <p>アカウントを既にお持ちの方はこちらからログインしてください</p>
                        <button class="ghost" id="signUp">ログイン画面へ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>