<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/destyle.css">
    <link rel="stylesheet" href="../css/car.css">
    <link rel="stylesheet" href="../css/side.css">
    <link rel="stylesheet" href="../css/grid.css">
    <script src="../js/jquery-3.6.0.min.js"></script>
    <title>車両管理</title>
</head>
<body>
<p>詳細画面（テスト）</p>
<table>
<% for (let column of carData) { %>
    <tr>
      <td><%= column.car_id %></td>
      <td><%= column.car_type_name %></td>
      <td>価格</td>
      <td><%= column.maker_name %></td>
      <td>開始時刻</td>
      <td>終了時刻</td>
      <td><%= column.color %></td>
      <td><img src="../img/<%= column.car_type_img_name %>" alt="<%= column.car_type_name %>の画像"></td>
    </tr>
<% } %>
</table>
      <script src="../js/side.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="../js/top.js"></script>
  </body>
</html>